/* Global Styles and Classes */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: hsl(210,36%,96%);
    color: hsl(209,61%,16%);
    line-height: 1.5;
    font-size: 0.875rem;
}

img {
    display: block;
}

h4 {
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;   
}

.section-center {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
}

/* Countdown Timer */

.gift-img {
    margin-bottom: 2rem;
}

.gift-info h3 {
    text-transform: uppercase;
    color: hsl(205,72%,37%);
}

.gift-info p {
    color: hsl(209,23%,60%);
}

.date {
    color: hsl(210,22%,49%);
    font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 3rem;
        width: 95vw;
    }

    .gift-img {
        margin-bottom: 0;
    }
}

.gift-info p {
    margin: 2rem 0;
}

.deadline {
    display: flex;
}

.deadline-format {
    background: hsl(209,61%,16%);
    color: white;
    margin-right: 1rem;
    width: 5.5rem;
    height: 8rem;
    display: grid;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.deadline h4:not(.expired) {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    letter-spacing: 0.25rem;
}
